@page "/"
@using BasicWebApp.Scripts

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<button @onclick="SwitchController.ChangeSwitchState">Switch</button>

<p>Current Switch: @SwitchController.CurrentState.ToString()</p>

<p>File directory: @SwitchController.DataFilePath</p>

