@page "/SET"
@using BasicWebApp.Scripts
<h3>SET</h3>

<button @onclick="() => SwitchController.SetSwitchState(true)">True</button>
<button @onclick="() => SwitchController.SetSwitchState(false)">False</button>
